@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,700);
$mainColor: #000000; // Колір шрифту за замовчуванням
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	/* outline: none; */
}
a:focus,
a:active {
	/* outline: none; */
}
body {
	line-height: 1;
	font-size: 16px;
	color: $mainColor;
	font-family: Inter;
	background-color: #ebf0ff;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}
input,
button,
textarea {
	color: $mainColor;
	font-family: Inter;
}
button {
	color: inherit;
	cursor: pointer;
	background-color: transparent;
}
a {
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
//========================================================================================================================================================
::-webkit-scrollbar {
	width: 0.1rem;
	border-radius: 0.5rem;
	background-color: #0d1117;
}
::-webkit-scrollbar-thumb {
	background-color: #0d1117;
	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #0d1117;
}
//========================================================================================================================================================
